body {
    background-color: skyblue;
    color: whitesmoke;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

nav a{
    display: inline-block; 
    background-color: goldenrod;
    margin: 0.5px;
    margin-bottom: 1rem;
    padding: 0.5rem;
    text-decoration: none;
}